<div class='card'
     *ngIf='articule'>
  <div class='card-header'>
    {{pageTitle + ': ' + articule.Name}}
  </div>

  <div class='card-body'>
    <div class='row'>
      <div class='col-md-8'>
        <div class='row'>
          <div class='col-md-4'>Name:</div>
          <div class='col-md-8'>{{articule.Name}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Description:</div>
          <div class='col-md-8'>{{articule.description}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Availability:</div>
          <div class='col-md-8'>{{articule.Date}}</div>
        </div>
      </div>

      <div class='col-md-4'>
        <img class='center-block img-responsive'
             [style.width.px]='200'
             [style.margin.px]='2'
             [src]='articule.imageUrl'
             [title]='articule.Name'>
      </div>
    </div>
  </div>

  <div class='card-footer'>
    <button class='btn btn-outline-secondary'
            (click)='onBack()'
            style='width:80px'>
      <i class='fa fa-chevron-left'></i> Back
    </button>
  </div>
</div>
