<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand text-white" href="/">
            <!-- <img src="/assets/nav.svg"  width="30" height="30" class="d-inline-block align-top"> -->
            <i class="fas fa-laptop-code"></i>
            Craig's Website
        </a>

        <button class="navbar-toggler border-1" type="button" (click)="toggleMenu()">
            <span class="fas fa-bars"></span>
        </button>

        <div class="collapse navbar-collapse" [collapse]="collapseNav">
            <ul class="nav navbar-nav navbar-dropdown">
              <li class="nav-item">
                <a class='nav-link' routerLinkActive='active' [routerLink]="['/welcome']">Home</a>
              </li>
              <li class="nav-item">
                <a class='nav-link' routerLinkActive='active' [routerLink]="['/articules']">Articules</a>
              </li>
              <li class="nav-item">
                <a class='nav-link' routerLinkActive='active' [routerLink]="['/projects']">Projects</a>
              </li>
              <li class="nav-item dropdown" dropdown>
                <a id="docs-dropdown" class="nav-link dropdown-toggle" type="button" dropdownToggle
                  aria-controls="docs-menu">FE projects<span class="caret"></span>
                </a>
                <ul id="docs-menu" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="docs-dropdown">
                  <li class="nav-item">
                    <a class="dropdown-item" routerLinkActive='active' [routerLink]="['/project/minesweeper']">
                      minesweeper
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="dropdown-item" routerLinkActive='active' [routerLink]="['/project/algorithms']">
                      algorithms
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://github.com/goble1">
                  <i class="fab fa-github" [ngClass]="{'fa-2x': !viewportSmall}"></i>
                  <span class="d-inline d-md-none">&nbsp; Github</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="mailto:goblecraig@yahoo.com">
                  <i class="far fa-envelope" [ngClass]="{'fa-2x': !viewportSmall}"></i>
                  <span class="d-inline d-md-none">&nbsp; Email</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/craiggoble/">
                  <i class="fab fa-linkedin" [ngClass]="{'fa-2x': !viewportSmall}"></i>
                  <span class="d-inline d-md-none">&nbsp; Linkedin</span>
                </a>
              </li>
            </ul>
          </div>
    </div>
</nav>


