// $font-family-sans-serif: RocketSans, Avenir, Arial, sans-serif;
$font-family-sans-serif: Avenir, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;

$font-family-base: $font-family-sans-serif;

// @font-face {
//   font-family: "RocketSans";
//   font-weight: 400;
//   src: url("https://spark-assets.netlify.com/RocketSans-Regular.woff2") format("woff2"),
//     url("https://spark-assets.netlify.com/RocketSans-Regular.woff") format("woff");
// }

// @font-face {
//   font-family: "RocketSans";
//   font-weight: 700;
//   src: url("https://spark-assets.netlify.com/RocketSans-Bold.woff2") format("woff2"),
//     url("https://spark-assets.netlify.com/RocketSans-Bold.woff") format("woff");
// }

// @font-face {
//   font-family: "RocketSans";
//   font-weight: 500;
//   src: url("https://spark-assets.netlify.com/RocketSans-Medium.woff2") format("woff2"),
//     url("https://spark-assets.netlify.com/RocketSans-Medium.woff") format("woff");
// }

// @font-face {
//   font-family: "RocketSans";
//   font-weight: 300;
//   src: url("https://spark-assets.netlify.com/RocketSans-Light.woff2") format("woff2"),
//     url("https://spark-assets.netlify.com/RocketSans-Light.woff") format("woff");
// }
