/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "font";
//@import "theme";

@import "~bootstrap/scss/bootstrap";

@import "selection";

.selectable {
  cursor: pointer;
}

.col-constrict {
  width: 1px;
  white-space: nowrap;
}

a.underline {
  text-decoration: underline;
  text-decoration-color: gray("500");
}

a.underline:hover {
  text-decoration: underline;
  text-decoration-color: color("blue");
}

.validation-msg {
  margin-top: 4px !important;
  margin-bottom: -4px !important;
}

.popover {
  min-width: 250px;
}
